*{
    margin: 0;
    padding: 0;
}
body{
    background-color: burlywood;
}
.bar{
    background-color: #ff7200;
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s easy-in-out;
}
ul li a:hover{
    color: #ff7200
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.go-through{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid lightblue;
    margin-top: 13px;
    color: orange;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid black;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:focus{
    outline: none;
}
.go-through:focus{
    outline: none;
}
fieldset{
    border: 2px solid;
}
.base{
    font-size: 50px;
    margin-left: 30px;
    margin-right: 500px;
    margin-top: 140px;
    border: 2px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #ff7200;
}
.coffeeMenu{
    margin-bottom: 1px;
    background-color: #ff7200;
    margin-top: 260px;
    margin-left: 30px;
    margin-right: 30px;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
  }
  .flavor, .dessert {
    text-align: left;
    width: 40%;
    margin-left: 170px;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  h2{
    background-color: rgb(185, 139, 79);
    font-size: 50px;
    text-align: center;
  }
  h1{
    margin-right: 500px;
    margin-left: 35px;
    font-size: 30px;
  }
  fieldset{
    margin: 100px;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    height: 35px;
    background: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: sans-serif;
}
.btn{
    width: 100px;
    height: 40px;
    background: lightblue;
    border: 2px solid lightblue;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:focus{
    outline: none;
}
.go-through:focus{
    outline: none;
}
#table{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
    border-collapse: collapse;
    border-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}
